<h1>Enter in the info about your SpaceCat</h1>
<form class="form-horizontal" action="/spacecats/new" method="POST">
	<div class="control-group">
		<label class="control-label" for="sc-name">Name: </label>
		<div class="controls">
			<input type="text" id ="sc-name" name="spacecat[name]"> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="sc-hp">Home Planet: </label>
		<div class="controls">
			<input type="text" id ="sc-hp" name="spacecat[home_planet]">
		</div>
	</div>
	<div class="control-group">	
		<label class="control-label" for="sc-tag">Tagline: </label>
		<div class="controls">
			<input type="text" id ="sc-tag" name="spacecat[tagline]">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="sc-hp">Super Power: </label>
		<div class="controls">
			<input type="text" id ="sc-sp" name="spacecat[superpower]">
		</div>
	</div>
	<button type="submit" class="btn">Submit dat cat!</button>
</form>