<form action="/spacecats/new" method="POST">
	<label for="sc-name">Name: </label>
	<input type="text" id ="sc-name" name="spacecat[name]">
	<label for="sc-hp">Home Planet: </label>
	<input type="text" id ="sc-hp" name="spacecat[home_planet]">
	<label for="sc-tag">Tagline: </label>
	<input type="text" id ="sc-tag" name="spacecat[tagline]">
	<label for="sc-hp">Super Power: </label>
	<input type="text" id ="sc-sp" name="spacecat[superpower]">
	<input type="submit" value="submit">
</form>