 <br />
<img src="http://placekitten.com/200/200" />
	<ul>
		<li><%= @spacecat.name %></li>
		<li><%= @spacecat.home_planet %></li>
		<li><%= @spacecat.tagline %></li>
		<li><%= @spacecat.superpower %></li>
	</ul>